:root {
    --color-fondo: rgb(35, 35, 39);
    --color-texto: #333;
    --espaciado: 16px;
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2%;
    text-align: center;
    overflow: auto;
}

body {
    &.open {
        height: 100%;
        overflow: hidden;

    }

    font-size: 0.8em;
    background-color: var(--color-fondo);
    font-family: 'Lato',
    sans-serif;
    width: 80vw;
    max-width: 1280;
}


main {
    padding: 15px;
    height: 100%;
    border-radius: 20px;
    margin: 10px;
    width: 100%;
}

.container {
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 100%;
}


.paralel-div-container {
    position: relative;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 400;
    color: white;
    font-size: 2rem;
    font-family: inherit;
    margin: 1em;
}

.infoSoftware {
    position: absolute;
    right: 0em;
    text-align: center;
    color: #9a9a9c;

    ol {
        text-align: left;
    }
}



/* From Uiverse.io by adamgiebl */
button {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

button:hover:before {
    transform: translateX(30em);
}

.no-hover:hover {
    pointer-events: none;
}

.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border: var(--color-fondo); */
}

.input:hover,
.input:focus {
    border-color: #1BFD9C;
}

footer {
    color: white;
    margin-top: 1em;
}

.footer {
    background-color: var(--color-fondo);
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.close-window-button {
    position: absolute;
    right: 1%;
    top: 1%;
}

.no-visible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

article {

    border: white 1px solid;
    border-radius: 1em;
    padding: 1%;
    color: white;
    margin: 2%;
}

article:hover,
article:focus {
    border-color: #1BFD9C;
}

.down-box-info {
    display: inline-flex;
    color: white;
    justify-content: center;
}

.video-down-info {
    width: 33%;
    margin: auto 0;

    div {
        margin-top: 1em;
    }
}

.video-down-options {
    width: 33%;
    display: grid;

    div {
        justify-content: center;
        text-align: center;
        margin: auto auto auto 0px;
    }
}

.video-down-actions {
    width: 33%;
    display: grid;
    gap: 1em;
}

.articleImg {
    width: 70%;
    border-radius: 20px;


}

.articleTittle {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}


.selectQuality {
    /* margin: 0 auto; */
    /* background-color: red; */
}

.wrapper_2 {
    width: auto;
    background: #484850;
    padding: 2px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.25),
        inset 0 0 5px rgba(0, 0, 0, 0.3),
        0 2px 2px rgba(256, 256, 256, 0.45),
        inset 0 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 1em;
}

.wrapper_2 label {
    font-size: 80%;
    position: absolute;
    z-index: 1;
    font-weight: bold;
    transform: translate(-50%, 0%);
    top: 0.5em;
}

.progress_2 {
    width: 0%;
    height: 20px;
    border-radius: 50px 50px 50px 50px;
    background-color: hsla(131, 55%, 45%, 1);
    position: relative;
    box-shadow:
        /* This is the top gradient for the color bar */
        inset 0 10px 0 rgba(255, 255, 255, 0.2),
        inset 0 2px 2px rgba(0, 0, 0, 0.125);
    margin: 0 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.75);
}




@media (max-width: 570px) {
    .down-box-info {
        display: block;
        color: white;

    }

    .articleTittle {
        font-size: 1em;
    }

    .video-down-info {
        width: 100%;
        margin: 1em auto;

        img {
            width: 70%;
        }
    }

    .video-down-actions {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .title h1 {
        font-size: 1em;
    }

}



@media (max-width: 900px) {
    .infoSoftware {
        display: none;
    }
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink-animation 1s linear infinite;
}

.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}


.table-data-container {
    background-color: var(--color-fondo);
    transform: translate(-50%, 0%);
    padding: 3em 3em 3em 3em;

    border: 1px solid white;
    border-radius: 2em;
    margin-bottom: 2em;

    h2 {
        margin-bottom: 2em;
        text-align: center;
        font-weight: 400;
        color: white;
        font-size: 2em;
        font-family: inherit;
    }
}

.cierre {
    position: absolute;
    top: 1%;
    right: 2%;
}





/*	
	Table Responsive
	===================
	Author: https://github.com/pablorgarcia
 */
.containerTable {
    text-align: left;
    margin: 0 auto;
    display: table;
    border: 1px solid white;
}

.containerTable th {
    background-color: #1F2739;
    padding: 30px;
}

.containerTable tbody tr td,
.containerTable thead tr th h1 {
    text-align: center;
    padding: 0.1em;
}

.containerTable th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #185875;
    font-size: 0.9em;
}

.containerTable td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

/* Background-color of the odd rows */
.containerTable tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.containerTable tr:nth-child(even) {
    background-color: #2C3446;
}

.containerTable td:first-child {
    color: #FB667A;
}

.containerTable tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

@media (max-width: 1400px) {

    .containerTable td:nth-child(5),
    .containerTable th:nth-child(5) {
        display: none;
    }

    .containerTable td:nth-child(10),
    .containerTable th:nth-child(10) {
        display: none;
    }
}

@media (max-width: 1150px) {

    .containerTable td:nth-child(9),
    .containerTable th:nth-child(9) {
        display: none;
    }

    .containerTable td:nth-child(7),
    .containerTable th:nth-child(7) {
        display: none;
    }
}


@media (max-width: 920px) {

    .containerTable td:nth-child(8),
    .containerTable th:nth-child(8) {
        display: none;
    }

    .containerTable td:nth-child(6),
    .containerTable th:nth-child(6) {
        display: none;
    }
}

@media (max-width: 650px) {

    .containerTable td:nth-child(4),
    .containerTable th:nth-child(4) {
        display: none;
    }

    .table-data-container {
        h2 {
            font-size: 1em;
            margin-right: 3.5em;
        }

        button {
            margin-right: 1em;
        }
    }
}

@media (max-width: 520px) {

    .table-data-container {
        padding: 1em;

        button {
            padding: 0.35em 1.35em;
        }
    }

    .containerTable {

        th,
        td {
            padding: 0em;
        }
    }

    article {
        margin-bottom: 2em;
    }

    main div button {
        margin-bottom: 1em;
    }

}