body {
    margin: 0 auto;
    display: block;
    text-align: center;
    /* Opcional, si quieres centrar el contenido del section */
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
}

#mediaTable {
    margin-top: 50px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.progress-container {
    height: 5px;
    /* Barra estrecha */
    background-color: #e0e0e0;
    /* Fondo gris */
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    /* El ancho se puede actualizar dinámicamente */
    background-color: green;
    border-radius: 5px;
}

.url-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.url-text {
    font-size: 14px;
    color: #555;
}

#url {
    width: 400px;
    margin: 20px
}

#optionList {
    list-style: none;
    padding: 0;
    width: 20%;
    text-align: left;
    margin: 20px auto;
    display: inline;
}

.blink {
    animation: blink 0.5s step-start infinite;
    /* Inicia con repeticiones infinitas */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}

.info-box {
    display: inline-block;
    padding: 10px;
    border: 2px solid #333;
    background-color: #f4f4f4;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.info-box li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.info-box ol {
    margin: 0;
    padding: 0;
}

.info-box label {
    font-weight: bold;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 20px;
}