<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>

<body>
    <section>
        <h1>Video Downloader</h1>
        <label for="url">Video Link:</label>
        <input type="text" id="url" name="url" required placeholder="Indica el link del video a descargar">
        <button id="btnDownload">Descargar</button></br>
        <li id="optionList">
            <ol>
                <input type="checkbox" id="soloAudio" name="soloAudio" value="soloAudio">
                <label for="soloAudio">Sólo audio.</label><br>
            </ol>
            <ol>
                <input type="checkbox" id="audioFormatMp3" name="audioFormatMp3" value="audioFormatMp3">
                <label for="audioFormatMp3">Guardar en Mp3.</label><br>
            </ol>
        </li>
        <table id="mediaTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>%</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tbodyContent">
            </tbody>
        </table>
    </section>
    <footer>Esto es sólo una UI para utilizar alguna funcionalidad de yt-dlt.<br>
        Para poder utilizar todo, usen el original de terminal.<br>
        https://github.com/yt-dlp/yt-dlp

    </footer>
</body>

</html>