<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>

<body>
    <section>
        <h1>YouTube Downloader</h1>
        <label for="url">Youtube URL:</label>
        <input type="text" id="url" name="url">
        <button id="btnDownload">Descargar</button>

        <table id="mediaTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody id="tbodyContent">
            </tbody>
        </table>
    </section>
</body>

</html>